.btn-position{
    text-align: right;
}
.card-padding{
    padding: 10px;
}
.info-title{
    font-weight: 400;
    color:black;
}
.info-desp{
    font-weight: 400;
    color:darkgreen;
}
.card_body_allign{
    text-align:center;
}
.processComplete{
    height: 27px;
    margin-left: 15px;
}
.cropper-wrapper {
    min-height: 300px;
    position: relative;
  }
  
  .loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
  }
.card-body{
    padding: 0px !important;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
  visibility: visible;
    opacity: 1;
  }


  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }

  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
    cursor: pointer;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }